link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
// ---- Include the above in your HEAD tag --------
head
  link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  link(rel='stylesheet', href=`http://${baseurl}/css/main.css`)
.container
  h1.form-heading
  .login-form
    .main-div
      .panel
        img(src='img/instagram.png' style='width: 70%')
      form#Login(action='/auth/login' method='POST')
        .form-group
          input#inputEmail.form-control(type='text' name="id" placeholder='전화번호, 사용자 이름 또는 이메일')
        .form-group
          input#inputPassword.form-control(type='password' name="password" placeholder='비밀번호')
        button.btn.btn-primary(type='submit') 로그인
      .bottom
        p= '또는'
      .facebook-login
        a(href='/auth/facebook') Facebook으로 로그인
      if loginError
        .error-message= loginError
      .forgot
        a(href='/') 비밀번호를 잊으셨나요?
  .login-form
    .signup 계정이 없으신가요?
      a(href='/auth/signup') 가입하기
