link(rel='stylesheet' href=`http://${baseurl}/css/story.css`)

.storyimg
  a(href=`http://${baseurl}/profile/${story.userId}`)= story.userId
  div.progressBar
  div(style=`background-image: url("${story.img}"`)
  script(src=`http://${baseurl}/js/story.js`)