/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-appearance: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header {
	margin-top : 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #d4d4d4;
}

.search-form {
	margin: 10px;
}

.stories {
	margin-bottom: 10px;
}

.posts {
	border: none;
}
.p {
	margin-top: 5px;
	margin-bottom: 30px;
	border: 1px solid #d4d4d4;
	width: 70%;
}

.p > img {
	margin: 10px;
}
.icon > * {
	display: inline;
}
  
  .filebox input[type="file"] {  /* 파일 필드 숨기기 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
  }

  .title {
	  border-bottom: 1px solid #d4d4d4;
	  padding: 10px;
	  font-size: 15px;
	  text-align: center;
  }

  .icon > i {
	margin: 15px;
	font-size: 20px;
  }

  .post {
	  margin: 10px;
	  width: 300px;
	  height: 300px;
	  align-items: center;
  }

  .postbutton {
	  width: 15px;
	  height: 15px;
	  color: #00F2FF;
  }

  img {
	width: 300px;
  }
  
  .userid {
	  margin-left: 30px;
	  margin-top: 30px;
	  font-weight: bold;
  }

  a {
	color: inherit;
  }

  textarea {
	border: 1px solid #d4d4d4;
	box-shadow: none;
	outline: none;	
	-webkit-appearance: none;


  }

  .comment button {
	  color: #bfe3f1;
	  appearance: none;
	  background: none;
	  border: none;
  }