body {
    background-color: #262626;
    font-size: 14px;
	color: white;
}
.storyimg {
  background-color: #262626;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
a {
    text-decoration: none;
    color: white;
}

.storyimg div {
	background-size: cover;	
	width: 400px;
	height: 100%;
}
