body {
    background-color: #262626;
    font-size: 14px;
	color: white;
}
.storyimg {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
a {
    text-decoration: none;
    color: white;
}
.progressBar {
	height: 1% !important;
	background-color: #ff0000 !important;
	width: 30% !important;
}

.storyimg div {
	background-size: cover;	
	width: 400px;
	height: 100%;
	background-color: #d4d4d4;
}
